* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #333;
}

.drop-list h1 {
  margin: 1em 0 2em;
  color: #333;
  text-transform: uppercase;
  text-align: center;
}

.drop-list {
  background-color: #fff;
  padding: 2em;
  border-radius: 8px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.4);
}

.drop-list-box {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 2em 0;
  width: 1000px;
  height: 200px;
  border-radius: 8px;
  background-color: #eee;
}

.present {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em;
  font-size: 3rem;
  border-radius: 8px;
  background-color: #fff;
  border: 1px solid black;
  cursor: grab;
  transition: background-color 0.3s;
}

.present:hover {
  background-color: #eee;
}

.present-disabled {
  opacity: 0.3;
  cursor: not-allowed;
}

.send-btn {
  margin: 0 auto;
  display: block;
  padding: 1em 3em;
  font-size: 1.4rem;
  background-color: #74d680;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}

.send-btn:disabled {
  background-color: #ddd;
}

a {
  text-decoration: none;
  color: #000;
}
