* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: min-content;
  background-color: #333;
  font-family: Arial, Helvetica, sans-serif;
}

.exercise {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  margin-bottom: 8em;
  border-top: 3px solid #eee;
}

.exercise-title {
  color: #eee;
  font-size: 3rem;
  padding: 2rem;
}

.drop-list h3 {
  margin: 1em 0 2em;
  color: #333;
  text-transform: uppercase;
  text-align: center;
}

.drop-list {
  background-color: #fff;
  padding: 2em;
  border-radius: 8px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.4);
}

.drop-list-box {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 2em 0;
  width: 1000px;
  height: 200px;
  border-radius: 8px;
  background-color: #eee;
}

.present {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em;
  font-size: 3rem;
  border-radius: 8px;
  background-color: #fff;
  border: 1px solid black;
  cursor: grab;
  transition: background-color 0.3s;
}

.present:hover {
  background-color: #eee;
}

.present-disabled {
  opacity: 0.3;
  cursor: not-allowed;
}

.send-btn {
  margin: 0 auto;
  display: block;
  padding: 1em 3em;
  font-size: 1.4rem;
  background-color: #74d680;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}

.send-btn:disabled {
  background-color: #ddd;
}

a {
  text-decoration: none;
  color: #000;
}

/* TIMELINE */

.timeline {
  margin-top: 4em;
  position: relative;
  width: 100%;
  max-width: 800px;
  color: #fff;
}

.timeline ul {
  display: flex;
  flex-direction: column;
  margin: 0 2em;
  list-style: none;
}

.timeline li {
  position: relative;
  margin-bottom: 2em;
  padding: 2em;
  width: 50%;
  border: 1px solid #0076e8;
  border-radius: 8px;
}

.timeline li::after {
  position: absolute;
  top: calc(50% - 10px);
  width: 20px;
  height: 20px;
  background-color: #0076e8;
  border-radius: 50%;
  content: "";
}

.timeline li:nth-child(even) {
  align-self: flex-end;
  transform: translateX(20px);
}
.timeline li:nth-child(even)::after {
  left: -31px;
}

.timeline li:nth-child(odd) {
  transform: translateX(-20px);
}
.timeline li:nth-child(odd)::after {
  right: -31px;
}

.timeline::before {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  width: 2px;
  height: 100%;
  background-color: #0076e8;
  content: "";
}

/* ACCORDION */

.accordion-info-text {
  margin-bottom: 0.5em;
}

.char {
  margin-right: 20px;
}

.accordion {
  width: 800px;
  background-color: #fff;
  border-radius: 6px;
}

.accordion-box {
  margin: 20px;
}

.accordion-btn {
  padding: 1em;
  width: 100%;
  font-size: 30px;
  text-align: left;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.accordion-btn:hover,
.accordion-btn:focus {
  background-color: #555;
  color: #fff;
  outline: none;
}

/* .accordion-btn:hover .char,
.accordion-btn:focus .char {
  color: #fff;
} */

.accordion-info {
  display: none;
  padding: 1em 2em;
}

.active {
  display: block;
}

/* SLIDER */

.slider {
  position: relative;
  height: 480px;
  width: 800px;
  border-radius: 6px;
  overflow: hidden;
}

.slider-box {
  display: flex;
  transform: translateX(0);
  transition: 0.5s;
}

.slider-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 0.5em 0.8em;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.4);
  font-size: 2rem;
  border: none;
  cursor: pointer;
}

.btn-left {
  left: 0;
}

.btn-right {
  right: 0;
}

.btn span {
  display: block;
  transition: transform 0.3s;
}

.btn:hover span {
  transform: scale(0.7);
}

/* UNWIND STYLES */

:root {
  --spring-color: #5bca5b;
  --summer-color: #ffd900;
  --autumn-color: #309213;
  --winter-color: #4198df;
}

[data-bg="spring"] {
  background-color: var(--spring-color);
}

[data-bg="summer"] {
  background-color: var(--summer-color);
}

[data-bg="autumn"] {
  background-color: var(--autumn-color);
}

[data-bg="winter"] {
  background-color: var(--winter-color);
}

.wrapper {
  display: flex;
  padding: 0.5em;
  width: 1200px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
}

.unwind-slides {
  height: 800px;
}

.card {
  position: relative;
  flex-grow: 0.8;
  height: 600px;
  margin: 4px;
  border-radius: 10px;
  background-size: cover;
  background-position: center;
  transition: flex-grow 0.8s;
  overflow: hidden;
  cursor: pointer;
}

.card::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  transition: opacity 0.5s;
}

.spring {
  background-image: url("https://cdn.pixabay.com/photo/2018/05/04/07/55/snow-3373432_960_720.jpg");
}

.summer {
  background-image: url("https://cdn.pixabay.com/photo/2013/10/07/18/06/field-192179_960_720.jpg");
}

.autumn {
  background-image: url("https://cdn.pixabay.com/photo/2019/03/31/21/43/the-dark-hedges-4094148_960_720.jpg");
}

.winter {
  background-image: url("https://cdn.pixabay.com/photo/2018/05/04/07/55/snow-3373432_960_720.jpg");
}

.spring::before,
.summer::before,
.autumn::before,
.winter::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  content: "";
}

.spring::before {
  background-color: var(--spring-color);
}
.summer::before {
  background-color: var(--summer-color);
}
.autumn::before {
  background-color: var(--autumn-color);
}
.winter::before {
  background-color: var(--winter-color);
}

.text {
  position: absolute;
  left: 50%;
  bottom: 10%;
  transform: translateX(-50%);
  width: 80%;
  padding: 2em;
  color: #fff;
  border-radius: 6px;
  z-index: 5;
}

.text h3 {
  text-transform: uppercase;
  transform: rotate(-90deg);
}

.text p {
  display: none;
  opacity: 0;
  font-size: 1.6rem;
}

.active {
  flex-grow: 8;
}

.active .text {
  animation: show-bg 1s 0.6s forwards;
}

.active .text h3 {
  display: none;
}

.active .text p {
  display: block;
  animation: show-text 2s 0.5s forwards;
}

.card.active::after {
  opacity: 0;
}

@keyframes show-bg {
  to {
    background-color: rgba(0, 0, 0, 0.4);
  }
}

@keyframes show-text {
  to {
    opacity: 1;
  }
}
